@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap');


*{
  padding: 0;
  margin: 0;
}


body{

  background-size: cover;
  color:white;
  
}

.fundo{

  display: flex;
justify-content: center;
align-items: center;


}

.container{
  justify-content:center;
  align-items: center;
  display: flex;
  height: 200px;
  width: 550px;
  background-color: transparent;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);

}

.container div{
  flex-direction: column;
  display: flex;
  height: 150px;
  width: 150px;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}



.container span{
  font-size: 60px;
  font-weight: bolder;
}

.container span.tempo{
  font-size: 20px;
}

/*dia*/

.container_day{
  justify-content: center;
  display: flex;
  align-items: center;
  height: 30vh;
  font-family: Roboto;
}


.semana_d{

  font-family: Roboto;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  display: flex;

}



footer a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  
}